body{
    margin: auto;
    background-color: rgb(45, 45, 45);
    display: flexbox;
    background-image: url(Imagenes/multimedia/250bfd73f4a3f1ed61ea181ac92a69b8.gif) ;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    background-color: black;
    color: white;
    border-bottom: 20px rgb(73, 73, 73) solid;
    margin: 0;
    padding-top: 30px ;
    text-align: center;
}
h2,h3{
    background-color: black;
    color: white;
    border-bottom: 5px rgb(73, 73, 73) solid;
    margin: 0;
    padding-top: 10px ;
    text-align: center;}

ul{
    font-size: 0px;
    list-style: none;
    padding: 0%;
    width: 100%;
}
li{

color: black ;
display: inline-block;
width: 24.89%;
text-align: center;
font-size: 10px;
padding: 10px 0 ;
border-bottom: solid 1px rgb(73, 73, 73);
border-right: solid 1px rgb(73, 73, 73);
}


li:hover{
    background-color: rgb(73, 73, 73);
    color: white;
}
div{
    font-size: 16px;}

section { text-align: center;
    width: 100%;
    }

article{
    border: white solid 3px;
    box-shadow: 40px rgb(44, 44, 44);
    background-color: rgba(34, 34, 34, 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
    width: 40%;
    display: block;
    text-align: center;
}
article > p{ color: white;}

.video-fondo {
    position: fixed;
    width: 100%;
    z-index: -1; /* Envía el video al fondo */
    object-fit: cover; /* Ajusta el video sin deformarlo */
}


@media(max-width: 720px){

body{
    background-image: url(Imagenes/multimedia/WhatsApp\ Image\ 2026-03-15\ at\ 18.21.46.jpeg) ;
    background-attachment:scroll;
}

ul{
    font-size: 0px;
    padding: 0%;
    width: 100%;
}
li{

color: black ;
width: 49.8563456%;
text-align: center;
font-size: 10px;
padding: 10px 0 ;
border-bottom: solid 1px rgb(73, 73, 73);
border-right: solid 1px rgb(73, 73, 73);
flex-direction: row;
flex-wrap: wrap;

}


li:hover{
    background-color: rgb(73, 73, 73);
    color: white;}
 


}