body{
    margin: auto;
    background-color: rgb(45, 45, 45);
    
    background-image: url(Imagenes/multimedia/250bfd73f4a3f1ed61ea181ac92a69b8.gif) ;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    background-color: black;
    color: white;
    border-bottom: 20px rgb(73, 73, 73) solid;
    margin: 0;
    padding-top: 30px ;
    text-align: center;
}
h2,h3{
    background-color: black;
    color: white;
    border-bottom: 5px rgb(73, 73, 73) solid;
    margin: 0;
    padding-top: 10px ;
    text-align: center;
    
}
    

ul{
    font-size: 0px;
    list-style: none;
    padding: 0%;
    width: 100%;
}
li{

color: black ;
display: inline-block;
width: 24.89%;
text-align: center;
font-size: 10px;
padding: 10px 0 ;
border-bottom: solid 1px rgb(73, 73, 73);
border-right: solid 1px rgb(73, 73, 73);
}

a{
    text-decoration: none;
    color: white;
}

li:hover{
    background-color: rgb(73, 73, 73);
    color: white;
}
div{
    font-size: 16px;}

section { text-align: center;
          width: 100%;
          display: flex;
          flex-direction: column;
    }

article{
    border: white solid 3px;
    box-shadow: 40px rgb(44, 44, 44);
    background-color: rgba(34, 34, 34, 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}
article > p{ color: white;}

div>span>img{
    display: flex;
    flex-direction: column;
    padding: 0%;
    padding-bottom: 2.4%;
    padding-top: 2.4%;
    width: 100%;

}
.top{

    width: 30%;
}
.top{
    border: white solid 3px;
    box-shadow: 40px rgb(44, 44, 44);
    background-color: rgba(34, 34, 34, 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
}

main{
    display: flex;
    flex-direction: row;
}







@media(max-width: 720px){

body{
    background-image: url(Imagenes/multimedia/WhatsApp\ Image\ 2026-03-15\ at\ 18.21.46.jpeg) ;
    background-attachment:scroll;
}

main{
    display: flex;
    flex-direction: column;
}

/*Menu*/
ul{
    font-size: 0px;
    padding: 0%;
    width: 100%;
}
li{

color: black ;
width: 49.8%;
text-align: center;
font-size: 10px;
padding: 10px 0 ;
border-bottom: solid 1px rgb(73, 73, 73);
border-right: solid 1px rgb(73, 73, 73);
flex-direction: row;
flex-wrap: wrap;

}

a{
    color: black;
}

li:hover{
    background-color: rgb(73, 73, 73);
    color: white;}

 /*Lista de personajes*/

section { 
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    }

article{
    border: white solid 3px;
    box-shadow: 40px rgb(44, 44, 44);
    background-color: rgba(34, 34, 34, 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
    display: block; 
    text-align: center;
    width: 100%;
}
article > p{ color: white;}

h3,h2{
    background-color:  rgba(0, 0, 0, 0.5);
    color: white;
    border-bottom: 5px rgb(73, 73, 73) solid;
    margin: 0;
    padding-top: 10px ;
    text-align: center;}

    h1{
    background-color: rgb(90, 90, 90);
    color: white;
    border-bottom: 20px rgb(73, 73, 73) solid;
    margin: 0;
    padding-top: 30px ;
    text-align: center;

    


}



    .top{
        width: 100%;
    }

}

@media(max-width: 420px){
     /*no hay fondos para esta resolucion*/
    

}